body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container-wrapper {
  display: flex;
  gap: 5px;
  padding: 5px;
  height: 100%;
  box-sizing: border-box;
}

.container {
  flex: 1;
  background: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  overflow-y: auto;
}

select, input[type="text"], input[type="number"] {
  padding: 6px;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  font-size: 14px;
}
table th, table td {
  border: 1px solid #ccc;
  padding: 5px 5px;
  text-align: left;
  font-size: 12px;
  
}

/* Warna highlight saat baris dipilih */
#timesheetTable tbody tr.selected {
  background-color: #d0e8ff;  /* biru muda */
}
/* Supaya header timesheet selalu di atas */
#timesheetTable thead th {
  position: sticky;
  top: 0;               /* jarak dari atas container */
  background-color: #eee;  /* warna background supaya tidak transparan */
  /* z-index: 51;           pastikan di atas isi tabel */
  
}


button {
  background: #4a90e2;
  border: none;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}
button:hover {
  background: #357abd;
}

/* --- Form layout --- */
.form-row {
  display: grid;
  grid-template-columns: 30% 1fr 50px; /* parameter | input | uom */
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}

.form-row label {
  font-weight: bold;
  font-size: 15px;
}

.form-row .input-box {
  display: flex;
  gap: 6px;
  align-items: center;
}

.form-row .other-input {
  display: none;   /* hidden by default */
  width: 90%;
}

.form-row .uom-label {
  text-align: left;
  font-size: 13px;
  color: #555;
  width: 50px; /* ensure fixed width */
}


.containerjudul {
  display: flex;
  width: 100%; 
  flex: 0 0 auto;
  flex-direction: row; 
  background-color: rgb(255, 255, 255); 
  padding: 0px; 
  border-radius: 12px; 
  margin: auto; 
  margin-bottom: 10px;
  position: sticky;
  justify-content: space-between; 
  align-items: center; 
  gap: 5px;
}