/* Reset bawaan browser */
* {
  margin: 0; /* hilangkan margin default */
  padding: 0; /* hilangkan padding default */
  box-sizing: border-box; /* hitung ukuran termasuk border & padding */
  font-family: sans-serif;
}

html,
body {
  height: 100%; /* pastikan body juga full */
  overflow: hidden; /* cegah scrollbar */
}

.box {
  background-color: white; /* warna kotaknya */
  padding: 20px; /* ruang dalam kotak */
  margin: 10px; /* jarak antar kotak */
  border-radius: 8px; /* sudut kotak melengkung */
  text-align: center; /* teks di tengah */
  flex: 1; /* biar kotak fleksibel ukurannya */
}

/* ===== CONTAINER HORIZONTAL ===== */
.container-horizontal {
  display: flex; /* aktifkan flexbox */
  flex-direction: row; /* atur isinya sejajar ke samping (horizontal) */
  background-color: rgb(255, 255, 255); /* warna latar container */
  padding: 10px; /* ruang dalam container */
  border-radius: 12px; /* sudut container melengkung */
  max-width: 100%; /* maksimal lebar container */
  max-height: 100%;
  margin: auto; /* biar posisinya ke tengah layar */
  width: 100vw; /* penuh lebar layar */
  height: 100vh; /* penuh tinggi layar */
  justify-content: center; /* isi sejajar ke tengah secara horizontal */
  align-items: center; /* isi sejajar ke tengah secara vertical */
  border-color: rgb(209, 204, 204);
  border-style: solid;
  border-width: 2px;
  gap: 10px;
}
.container-horizontal-child {
  display: flex; /* aktifkan flexbox */
  flex-direction: row; /* atur isinya sejajar ke samping (horizontal) */
  background-color: rgb(255, 255, 255); /* warna latar container */

  border-radius: 12px; /* sudut container melengkung */
  gap: 10px;
  width: 100%; /* ikut lebar parent */
  height: 100%; /* biar tinggi menyesuaikan isi */
  justify-content: center; /* isi sejajar ke tengah secara horizontal */
  align-items: center; /* isi sejajar ke tengah secara vertical */
  border-color: rgb(209, 204, 204);
  border-style: solid;
  border-width: 2px;
  overflow: hidden;
  min-height: fit-content;
  flex: 2;
}

/* ===== CONTAINER VERTICAL ===== */
.container-vertical {
  display: flex; /* aktifkan flexbox */
  flex-direction: column; /* atur isinya sejajar ke samping (horizontal) */
  background-color: rgb(255, 255, 255); /* warna latar container */
  padding: 5px; /* ruang dalam container */
  border-radius: 12px; /* sudut container melengkung */
  max-width: 100%; /* maksimal lebar container */
  max-height: 100%;
  margin: auto; /* biar posisinya ke tengah layar */
  width: 100vw; /* penuh lebar layar */
  height: 100vh; /* penuh tinggi layar */
  justify-content: center; /* isi sejajar ke tengah secara horizontal */
  align-items: center; /* isi sejajar ke tengah secara vertical */
  border-color: rgb(209, 204, 204);
  border-style: solid;
  border-width: 2px;
  gap: 10px;
}
.container-vertical-child {
  display: flex; /* aktifkan flexbox */
  flex-direction: column; /* atur isinya sejajar ke samping (horizontal) */
  background-color: rgb(255, 255, 255); /* warna latar container */
  padding: 15px; /* ruang dalam container */
  border-radius: 12px; /* sudut container melengkung */
  margin: auto; /* biar posisinya ke tengah layar */
  width: 100%; /* ikut lebar parent */
  height: 100%; /* biar tinggi menyesuaikan isi */
  justify-content: center; /* isi sejajar ke tengah secara horizontal */
  align-items: center; /* isi sejajar ke tengah secara vertical */
  border-color: rgb(209, 204, 204);
  border-style: solid;
  border-width: 2px;
  gap: 5px;
}

.container-title-horizontal {
  display: flex;
  padding: 5px;
  width: 100%;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  background-color: rgb(233, 219, 202);
  border-radius: 12px;
  border-color: rgb(209, 204, 204);
  border-style: solid;
  border-width: 2px;
  min-height: 45px;
}
.button-utama {
  background-color: #007bff; /* warna dasar biru */
  color: white; /* teks putih */
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  min-width: 1px;
  padding: 12px 24px; /* ruang dalam: atas/bawah 12px, kiri/kanan 24px */
  border: none; /* hilangkan garis bawaan tombol */
  border-radius: 8px; /* sudut melengkung */
  cursor: pointer; /* kursor jadi tangan saat hover */
  font-size: 16px; /* ukuran teks */
  font-weight: bold; /* teks agak tebal */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* bayangan tombol */
  transition: all 0.3s ease; /* animasi halus saat hover */
}

.button-utama.full {
  width: 100%; /* tombol isi penuh container */
  height: 100%;
  display: flex; /* aktifkan flexbox di dalam tombol */
  justify-content: center; /* teks di tengah horizontal */
  align-items: center; /* teks di tengah vertical */
}

.button-utama:hover {
  background-color: #0056b3; /* warna lebih gelap saat hover */
  transform: translateY(-2px); /* tombol naik sedikit */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* bayangan lebih tebal */
}

/* Efek saat ditekan (active) */
.button-utama:active {
  transform: translateY(0); /* tombol kembali rata */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* bayangan lebih kecil */
}

.form-box {
  width: 100%;
  flex: 3;
  /*max-width: 100%;            /* biar nggak terlalu lebar */
  margin: px auto; /* tengah layar */
  padding: 2px;
  border: 2px solid #007bff; /* border kotak utama */
  border-radius: 10px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column; /* isi kotaknya ditumpuk ke bawah */
  gap: 0px; /* jarak antar row */
  height: 100%;
  min-height: 0;
}

.row {
  display: flex; /* label dan value sejajar ke samping */
  justify-content: center; /* label di kiri, value di kanan */
  align-items: center; /* vertikal rata tengah */

  padding: 10px;
  border-bottom: 1px solid #ddd; /* garis pemisah antar row */
  height: 100%;
}

.row:last-child {
  border-bottom: none; /* hapus garis di row terakhir */
  height: 100%;
}

.label {
  flex: 1; /* bagian label fleksibel */
  /* width: 200px; */
  font-weight: bold; /* tebal */
  color: #333;

  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 100%;
}

.value {
  flex: 2; /* bagian isi lebih lebar dari label */
  color: #555;
  text-align: left; /* teks isi rata kiri */
  word-wrap: break-word; /* kalau teks panjang bisa turun baris */
  font-size: 15px;
  height: 100%;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 1;
  gap: 10px;

  flex: 1; /* atur tinggi maksimal */
  overflow-y: auto; /* kasih scroll vertikal */
  overflow-x: hidden;
}

.gallery-header {
  display: flex;
  height: 20px;
  border: solid;
  border-radius: 10px;
  gap: 10px;
  font-weight: bold;
  padding: 10px;
}
.item {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 5px;
  border: 1px solid #ccc;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}
.textbox {
  display: flex;
  flex: 0 0 auto; /* biar rata lebar */
  padding: 5px;
  height: 50px;
  border: 1px solid #999;
  border-radius: 5px;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  text-align: center; /* tambahan untuk teks multiline */
  background: #fff;
}

.textbox.order {
  flex: 2; /* lebih lebar */
  max-width: 150px;

  border-color: #007bff;
}
.textbox.seq {
  flex: 1;
  max-width: 50px;

  border-color: #28a745;
}
.textbox.hrs {
  flex: 1;
  max-width: 70px;
  border-color: #ffc107;
}
.textbox.act {
  flex: 3;
  border-color: #dc3545;
}
.textbox.wct {
  flex: 1;
  border-color: #079949;
  max-width: 75px;
  font-size: 13px;
}

.textinput {
  width: 100%;
  min-height: 44px; /* tinggi fleksibel */
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  background: #fff;
  color: #222;
  transition: border-color 0.2s, box-shadow 0.2s;
  resize: vertical; /* textarea bisa diubah tinggi */
  box-sizing: border-box;
  flex: 4;
}

#preview {
  display: none; /* default hidden */
  position: fixed;
  inset: 0; /* full screen */
  background: rgba(0, 0, 0, 0.8); /* gelap */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* box kamera di tengah */
.preview-box {
  background: #000;
  padding: 10px;
  border-radius: 12px;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* video biar responsive */
#video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gallerymesin {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 kolom sama besar */
  gap: 20px;
  padding: 20px;
  overflow-y: scroll;
  width: 100%;
}

/* Card item */
.cardmesin {
  display: grid;
  grid-template-columns: 1fr 2fr; /* kiri label, kanan value */
  gap: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-items: center;
  justify-items: center;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(26px);
}

.buttontimesitijo.restart{
  font-size: 12px;
  font-weight: 600;
  color: #fdfdfd;
  background: #0aa304; /* merah ke pink */
  background: linear-gradient(90deg, #21e452, #04911b);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 10px rgba(66, 219, 86, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex:1;
  max-width:70px;
  height: 35px;
  /* min-width:90px;
  min-height: 70px; */
}
.buttontimes.stop{
  font-size: 12px;
  font-weight: 600;
  color: #fdfdfd;
  background: #0aa304; /* merah ke pink */
  background: linear-gradient(90deg, #f56363, #ff0000);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 10px rgba(241, 67, 67, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex:1;
  max-width:70px;
  height: 35px;
  /* min-width:90px;
  min-height: 70px; */
  
}
.buttontimes.stop:disabled {
  background: #999;       /* abu-abu */
  cursor: not-allowed;    /* tanda dilarang */
  box-shadow: none;
  opacity: 0.6;
  transform: none !important;
  box-shadow: none !important;
}

.buttontimesitijo:active {
  transform: translateY(1px) scale(0.58);
  box-shadow: 0 3px 10px rgba(0, 114, 255, 0.4);
}

.buttontimes.stop:active {
  transform: translateY(1px) scale(0.58);
  box-shadow: 0 3px 10px rgba(0, 114, 255, 0.4);
}

.cardtimesheet {
  display: flex;
  flex: 1;
  width: 100%;
  gap: 5px;
  border: 1px solid #ccc;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  background: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

.containertime{
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: center;
  align-items: center;
  

}
.containertimes{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-color: rgb(209, 204, 204);
  border-style: solid;
  height: 50px;
  max-height: 50px;
  
}
.containertimes.header-row {
  font-weight: bold;
  background: #f5f5f5;
  position: sticky;  /* biar header tetap di atas saat scroll */
  top: 0;
  z-index: 10;
  height: 70px;
  max-height: 70px;
  font-size: 17px;
}
.isitime{
  display: flex;
  font-size: 13px;
  justify-content: center;
  
}
.isitime2{
  display: flex;
  font-size: 17px;
  justify-content: center;
  
}

/* /*button unprod */

 .button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 kolom sama lebar */
  gap: 12px; /* jarak antar tombol */
  max-width: 900px; /* optional: supaya tidak terlalu lebar */
  margin: 20px auto; /* center horizontal */
  padding: 10px;
}

.button-grid button {
  padding: 14px 10px;
  background-color: #007BFF; /* biru ala Bootstrap */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.1s;
  word-wrap: break-word; /* biar text panjang rapi */
  height: 50px;
}

/* efek hover & tekan */
.button-grid button:hover {
  background-color: #0056b3;
}
.button-grid button:active {
  transform: scale(0.97);
}
